# Credenciais do Gmail para a Newsletter
GMAIL_USER=
GMAIL_PASS=

# Configurações do Google Sheets (Banco de Dados)
# ID da planilha (encontrado na URL da planilha)
GOOGLE_SHEET_ID=

# Dados da Conta de Serviço (JSON baixado do Google Cloud)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Porta do servidor local (apenas para teste)
PORT=3000
