# Credenciais do Gmail para a Newsletter
GMAIL_USER=confrarialiteraria54@gmail.com
GMAIL_PASS=sua_senha_de_app_aqui

# Configurações do Google Sheets (Banco de Dados)
# ID da planilha (encontrado na URL da planilha)
GOOGLE_SHEET_ID=seu_id_da_planilha_aqui

# Dados da Conta de Serviço (JSON baixado do Google Cloud)
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-email-da-conta-de-servico@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"

# Porta do servidor local (apenas para teste)
PORT=3000
